body {
  background: #000000;
  font-family: 'Proxima Nova', serif;
  height: 100%;
  width: 100%;
}


.provider {
  height: 35px;
  width: 97px;
  position: relative;
  top: 20px;
  left: 20px;
}


.Card {
  width: 450px;
  height: 360px;
  background: #F3F3F3;
  margin: auto;
  margin-top: 3%;
}

.details {
  margin: 0 auto;
  width: 150px;
  font-weight: bold;
}

.details h1 {
  font-size: 20px;
  color: #4b4946;
  margin: 0px;
  padding: 0px;
  text-align: center;
}

.details h2 {
  font-size: 16px;
  color: #8a8a8a;
  margin: 0px;
  padding: 0px;
  padding-bottom: 10px;
  text-align: center;
}

.details h2 a {
  color: #8a8a8a;
  text-decoration: none;
}

.user {
  margin: 0 auto;
  width: 150px;
  padding-top: 20px;
  font-weight: bold;
}

.user img {
  height: 150px;
  width: 150px;
  border-radius: 50%;
}

.count {
  width: 450px;
  color: black;
  font-size: 20px;
  margin: 0 auto;
  padding-bottom: 20px;
  text-align: center;
}

.count ul {
  padding: 0px;
  margin: 0px;
  margin-left: -42px;
}

.count ul li {
  list-style: none;
  display: inline-block;
  font-weight: bold;
  padding-left: 63px;
}

.count ul li span {
  display: block;
  color: #8a8a8a;
  font-size: 16px;
}
